# Python Objects and Data Structures:


## Objects In Python:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

 
 
Now let's start with some basic arithmetic.

### Basic Arithmetic

In [ ]:
# Addition
2+1

In [ ]:
# Subtraction
2-1

In [ ]:
# Multiplication
2*2

In [ ]:
# Division
7/4

In [ ]:
# Floor Division
7//4

In [ ]:
**Whoa! What just happened? Last time I checked, 7 divided by 4 equals 1.75 not 1!**

The reason we get this result is because we are using "*floor*" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

**So what if we just want the remainder after division?**

In [ ]:
# Modulo
7%4

In [ ]:
4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

In [ ]:
### Arithmetic continued

In [ ]:
# Powers
2**3

In [ ]:
# Can also do roots this way
4**0.5

In [ ]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

In [ ]:
# Can use parentheses to specify orders
(2+10) * (10+3)

## Variables

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"

## Dynamic Typing

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [ ]:
my_dogs = 2

In [ ]:
my_dogs

In [ ]:
my_dogs = ['Sammy', 'Frankie']

In [ ]:
my_dogs

### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with
* faster development time

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of `type()`

## Assigning Variables
Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [ ]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [ ]:
Now if I call *a* in my Python script, Python will treat it as the number 5.

In [ ]:
# Adding the objects
a+a

In [ ]:
What happens on reassignment? Will Python let us write it over?

In [ ]:
# Reassignment
a = 10

In [ ]:
# Check
a

In [ ]:
Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

## Reassigning Variables
Python lets you reassign variables with a reference to the same object.

In [ ]:
# Use A to redefine A
a = a + 10

In [ ]:
# Check 
a

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [ ]:
a += 10

In [ ]:
a *= 2

This shows how variables make calculations more readable and easier to follow.

In [ ]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [ ]:
# Show my taxes!
my_taxes

So what have we learned? We learned some of the basics of numbers in Python. We also learned how to do arithmetic and use Python as a basic calculator. We then wrapped it up with learning about Variable Assignment in Python.

## Data Types
#### Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [ ]:
a=10

In [ ]:
type(a)

In [ ]:
a = (1,2)

In [ ]:
type(a)

# Strings:

* Strings are used in Python to record text information, such as names. 
* Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. 
* For example, Python understands the string "hello' to be a sequence of letters in a specific order. 
* This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

* This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

###### Topics:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

In [9]:
k = '2' # K is an object

In [ ]:
k.

In [10]:
type(k)

str

In [11]:
k.isdigit()

True

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [ ]:
# Single word
'hello'

In [ ]:
# Entire phrase 
'This is also a string'

In [ ]:
# We can also use double quote
"String built with double quotes"

In [ ]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

In [ ]:
The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [ ]:
"Now I'm ready to use the single quotes inside a string!"

In [ ]:
Now let's learn about printing strings!

In [ ]:
## Printing a String

In [ ]:
Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [ ]:
# We can simply declare a string
'Hello World'

In [ ]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

In [ ]:
We can use a print statement to print a string.

In [ ]:
print('Hello World 1')

In [ ]:
print('Hello World 2')

In [ ]:
print('Use \n to print a new line')

In [ ]:
print('\n')

In [ ]:
print('See what I mean?')

In [ ]:
## String Basics

In [ ]:
We can also use a function called len() to check the length of a string!

In [14]:
len('Hello World       ')

18

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [16]:
# Assign s as a string
s = 'Hello World'

In [ ]:
#Check
s

In [ ]:
# Print the object
print(s)

In [ ]:
Let's start indexing!

In [ ]:
# Show first element (in this case a letter)
s[0]

In [ ]:
s[1]

In [ ]:
s[2]

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [21]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[:5]

'Hello'

In [ ]:
# Note that there is no change to the original s
s

In [ ]:
# Grab everything UP TO the 3rd index
s[:3]

In [ ]:
Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [ ]:
#Everything
s[:]

In [ ]:
We can also use negative indexing to go backwards.

In [ ]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

In [ ]:
# Grab everything but the last letter
s[:-1]

In [ ]:
We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [ ]:
# Grab everything, but go in steps size of 1
s[::1]

In [ ]:
# Grab everything, but go in step sizes of 2
s[::2]

In [23]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

In [ ]:
# Palindrome

In [32]:
s="Level" # IMMUTIABLE
s.lower()

'level'

In [35]:
s[0]='l'

TypeError: 'str' object does not support item assignment

In [33]:
s.lower() == s[::-1].lower()

True

In [31]:
s[::-1].lower()

'level'

In [28]:
s.upper()

'LEVEL'

In [27]:
s.lower()==s[::-1].upper()

True

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [ ]:
s

In [ ]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

In [ ]:
Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [39]:
s="Hello World"

In [42]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [43]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [44]:
print(s)

Hello World concatenate me!

In [ ]:
s

In [ ]:
We can use the multiplication symbol to create repetition!

In [45]:
letter = 'z'

letter*10

'zzzzzzzzzz'

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [ ]:
s

In [ ]:
# Upper Case a string
s.upper()

In [ ]:
# Lower case
s.lower()

In [48]:
s="Hello World"

In [ ]:
y = f(x)

In [53]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World']

In [51]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld']

In [54]:
s="Hello World"

In [61]:
s.split()[0]

'Hello'

In [ ]:
There are many more methods than the ones covered here. Visit the Advanced String section to find out more!

## Print Formatting

We can use the .format() method to add formatted objects to printed string statements.

The easiest way to show this is through an example:

In [76]:
a = "Pavan"
b ="Kumar"
# print("Hello {FirstName} {Lastname}".format(FirstName=a,Lastname=b))

print("Hello {Lastname} {FirstName}".format(FirstName=a,Lastname=b))

Hello Kumar   Pavan

In [77]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

# String Formatting

String formatting lets you inject items into a string rather than trying to chain items together using commas or string concatenation. As a quick comparison, consider:


There are three ways to perform string formatting.
* The oldest method involves placeholders using the modulo `%` character.
* An improved technique uses the `.format()` string method.
* The newest method, introduced with Python 3.6, uses formatted string literals, called *f-strings*.

Since you will likely encounter all three versions in someone else's code, we describe each of them here.

In [80]:
print("I'm going to inject %s text here, and %s text here." %(2,'more'))

I'm going to inject 2 text here, and more text here.

The `%s` operator converts whatever it sees into a string, including integers and floats. The `%d` operator converts numbers to integers first, without rounding. Note the difference below:

In [81]:
print('I wrote %s programs today.' %3.75)

I wrote 3.75 programs today.

In [82]:
print('I wrote %d programs today.' %3.75)

I wrote 3 programs today.

In [ ]:
### The .format() method has several advantages over the %s placeholder method:

In [ ]:
#### 1. Inserted objects can be called by index position:

In [84]:
print('The {name3} {name3} {name3}'.format(name1='fox',name2='brown',name3='quick'))

The quick quick quick

In [ ]:
#### 2. Inserted objects can be assigned keywords:

In [87]:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))

First Object: 1, Second Object: Two, Third Object: 12.3

In [86]:
1  1 + "string"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#### 3. Inserted objects can be reused, avoiding duplication:

In [ ]:
print('A %s saved is a %s earned.' %('penny','penny'))
# vs.
print('A {p} saved is a {p} earned.'.format(p='penny'))

In [ ]:
## Formatted String Literals (f-strings)

In [ ]:
Introduced in Python 3.6, f-strings offer several benefits over the older `.format()` string method described above. For one, you can bring outside variables immediately into to the string rather than pass them as arguments through `.format(var)`.

In [93]:
name = 'Fred'

# print(f"He said his name is {name}.")

In [101]:
print("He said his name is %s - %s way"%(name,"1st")) #1 ways

He said his name is Fred - 1st way

In [104]:
print("He said his name is {} -{} way".format(name," 2nd")) #2 way

He said his name is Fred - 2nd way

In [106]:
way="- 3rd way"
print(f"He said his name is {name} {way}")

He said his name is Fred - 3rd way

In [108]:
print("He said his name is " + name + " - 4th way")

He said his name is Fred - 4th way

In [110]:
"Pavan is Leaning Python"[0]="s"

TypeError: 'str' object does not support item assignment

# Lists

* Earlier when discussing strings we introduced the concept of a *sequence* in Python.
* Lists can be thought of the most general version of a *sequence* in Python. 
* Unlike strings, they are mutable, meaning the elements inside a list can be changed!
* Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be).

#### Topics Covered:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists
    5.) Introduction to List Comprehensions

Lists are constructed with brackets [] and commas separating every element in the list.

In [111]:
my_empyt_list = []

In [112]:
type(my_empyt_list)

list

In [113]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [114]:
type(my_list)

list

We just created a list of integers, but lists can actually hold different object types. For example:

In [115]:
my_list = ['A string',23,100.232,'o']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [116]:
len(my_list)

4

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [118]:
my_list = ['one','two','three',4,5.0]

In [119]:
# Grab element at index 0
my_list[0]

'one'

In [122]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5.0]

In [123]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

We can also use + to concatenate lists, just like we did for strings.

In [126]:
my_list = my_list + ['new item']

In [127]:
print(my_list)

['one', 'two', 'three', 4, 5.0, 'new item']

Note: This doesn't actually change the original list!

In [128]:
my_list

['one', 'two', 'three', 4, 5.0, 'new item']

You would have to reassign the list to make the change permanent.

In [129]:
# Reassign
my_list = my_list + ['add new item permanently']

In [130]:
my_list

['one', 'two', 'three', 4, 5.0, 'new item', 'add new item permanently']

We can also use the * for a duplication method similar to strings:

In [132]:
my_list + ['one', 'two', 'three', 4, 5.0, 'new item', 'add new item permanently']

['one',
 'two',
 'three',
 4,
 5.0,
 'new item',
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5.0,
 'new item',
 'add new item permanently']

In [131]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5.0,
 'new item',
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5.0,
 'new item',
 'add new item permanently']

In [ ]:
# Again doubling not permanent
my_list

## Basic List Methods

In [134]:
# Create a new list
list1 = [1,2,3]

Use the **append** method to permanently add an item to the end of a list:

In [139]:
# Append
list1.append('append me!')# INPLACE METHODS

In [140]:
# Show
list1

[1, 2, 3, 'append me!', 'append me!', 'append me!']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [ ]:
int a;
a=2 # Dynamic In

In [145]:
# Pop off the 0 indexed item
list1.pop()

'append me!'

In [154]:
list1=[1,2,3]

In [155]:
# Show
list1

[1, 2, 3]

In [161]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop(0)

In [162]:
popped_item

3

In [163]:
list1

[]

In [152]:
popped_item

2

In [ ]:
# Show remaining list
list1

In [ ]:
It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [ ]:
list1[100]

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [164]:
new_list = ['a','e','x','b','c']

In [165]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [166]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [167]:
new_list

['c', 'b', 'x', 'e', 'a']

In [168]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [169]:
new_list

['a', 'b', 'c', 'e', 'x']

## Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [177]:
# Let's make three lists
lst_1=[1,2,3]

In [178]:
lst_2=[4,5,6]

In [179]:
lst_3=[7,8,9]

In [180]:
# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [188]:
# Show
matrix[1][1,2]

TypeError: list indices must be integers or slices, not tuple

In [190]:
lst_1[2]=4

In [193]:
"Pavan"[0]="K"

TypeError: 'str' object does not support item assignment

In [191]:
lst_1

[1, 2, 4]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [ ]:
# Grab first item in matrix object
matrix[0]

In [ ]:
# Grab first item of the first item in the matrix object
matrix[0][0]

In [ ]:
# List Comprehensions
Python has an advanced feature called list comprehensions. They allow for quick construction of lists. To fully understand list comprehensions we need to understand for loops. So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

In [195]:
list_1 = [1,2,3,"Pavan","Kumar"]

# Output: 
#"My name is Pavan Kumar and My Value is 123"

In [201]:
list_1 = [1,2,3,"M","Mahesh"]
print("My name is {} {} and My Value is {}{}{}".format(list_1[3],list_1[4],list_1[0],list_1[1],list_1[2]))

My name is M Mahesh and My Value is 123

In [200]:
print(f"My name is {list_1[3]} {list_1[4]} and My Value is {list_1[0]}{list_1[1]}{list_1[2]}")

My name is Makham Mahesh and My Value is 123

In [ ]:
But in case you want to know now, here are a few examples!

In [ ]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [ ]:
first_col

In [ ]:
We used a list comprehension here to grab the first element of every row in the matrix object. We will cover this in much more detail later on!

In [ ]:
For more advanced methods and features of lists in Python, check out the Advanced Lists section later on in this course!

In [ ]:
a=a+5
a+=5

In [ ]:
a=[1,2,3,4,5]

In [202]:
a=[]

In [203]:
a=list()

In [ ]:
a[3]

# Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python.

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

#### So what are mappings?

* Mappings are a collection of objects that are stored by a *key*, unlike a sequence(lists) that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

* A Python dictionary consists of a `key` and then an associated `value`. That value can be almost any Python object.

## Constructing a Dictionary

In [204]:
my_empty_dict = {}#

In [205]:
type(my_empty_dict)

dict

In [209]:
my_dict =  {"key1":"value1","key2":"value2"}
# {2:"value1"}

In [210]:
my_dict['key1']

'value1'

In [211]:
my_dict['key2']

'value2'

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [254]:
my_dict = {'key1':{"key3":['value1']},'key2':['value2']}

In [219]:
# Call values by their key # "value 1" not ['value1']
type(my_dict['key1']['key3'])

list

In [258]:
my_dict['key1']['key3'][0][0]

'v'

Note that dictionaries are very flexible in the data types they can hold. For example:

In [222]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [223]:
# Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [224]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [225]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

In [ ]:
We can affect the values of a key as well. For instance:

In [226]:
my_dict['key1']

123

In [227]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [229]:
#Check
my_dict

{'key1': 0, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [230]:
# Change item2 to item3

my_dict['key3'][2] = 'item3'

In [232]:
my_dict['key3'].append('item4')

In [233]:
my_dict

{'key1': 0, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item3', 'item4']}

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

[] --- Subset, slicing ,indexing or To create empty list
{} ---- To create Dictionary.. Its should contain Keys, values
() ----- tuple 

len() ---Function
type() -- Function
list() ---Function
dict() ---- Function
str() -- Function to create empty string

In [238]:
a= str()
a+"My New value"

'My New value'

In [ ]:
# Create a new dictionary
d = {}

In [241]:
d= dict()

{}

In [242]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [243]:
d

{'animal': 'Dog'}

In [244]:
# Can do this with any object
d['answer'] = 42

In [245]:
#Show
d

{'animal': 'Dog', 'answer': 42}

## Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [260]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':['value']}}}

In [261]:
d['key1']['nestkey']['subnestkey'][0]

'value'

In [ ]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

In [264]:
d = {2.0:"two"}

In [265]:
d[2]

'two'

## A few Dictionary Methods

In [268]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [273]:
# Method to return a list of all keys 
type(d.keys())

dict_keys

In [274]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [275]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

# Tuples

* In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. 
* Genereally to store the values like days of the week, or dates on a calendar which are remain same mostly

#### Topics Covered:

    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples

## Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [276]:
t=()

In [277]:
t=tuple()

In [278]:
# Create a tuple
t = (1,2,3)

In [279]:
# Check len just like a list
len(t)

3

In [280]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [281]:
# Use indexing just like we did in lists
t[0]

'one'

In [282]:
# Use indexing just like we did in lists
t[-1]

2

In [287]:
l= [1,2,3]

t= (1,2,3)

In [284]:
l[0]=4
l

[4, 2, 3]

In [285]:
t[0]=4 # IMMUTABILITY

TypeError: 'tuple' object does not support item assignment

In [ ]:
## Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

In [294]:
t=(0,2,3,4,1)

In [295]:
# Use .index to enter a value and return the index
t.index(1)# only give the position number in 1st occurance.

4

In [292]:
# Use .count to count the number of times a value appears
t.count(1)

2

## Immutability

It can't be stressed enough that tuples are immutable. To drive that point home:

In [296]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

In [297]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

# Type Casting:

In [300]:
a='2'
type(a)

str

In [301]:
a= int(a)
type(a)

int

In [302]:
t=(1,2,3) #Tuple


list(t) # List

[1, 2, 3]

In [303]:
t= (1,2,3)
t[2] = 4

TypeError: 'tuple' object does not support item assignment

In [307]:
list(t)
print(type(t))
t[3]=4

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [309]:
list(t)[2]=4

In [310]:
t

(1, 2, 3)

In [311]:
t=list(t)
t[2]=4
t=tuple(t)
print(t)
print(type(t))

(1, 2, 4)
<class 'tuple'>

# Set and Booleans

There are two other object types in Python that we should quickly cover: Sets and Booleans. 

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [1]:
set()

set()

In [2]:
x = set()

In [3]:
# We add to sets with the add() method
x.add(1)

In [4]:
x.add(2)

In [5]:
x

{1, 2}

In [6]:
x.add(1)

In [7]:
x

{1, 2}

In [15]:
x=set('1')

In [18]:
set([1,2,3,4,5,6,7,8,9])

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [321]:
#Show
type(x)

set

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [322]:
# Add a different element
x.add(2)

In [324]:
#Show
x.add(1)

In [325]:
x.add

{1, 2}

In [19]:
# Create a list with repeats
list1 = [2,2,1,1,3,4,5,6,1,1]

In [20]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [21]:
type(True)

bool

In [333]:
type("True")

str

In [334]:
# Set object to be a boolean
a = True

In [336]:
#Show
type(a)

bool

In [22]:
# Output is boolean
a=1 > 2
a

False

We can use None as a placeholder for an object that we don't want to reassign yet:

In [23]:
# None placeholder
b = None

In [24]:
type(b)

NoneType

In [27]:
a

False

In [28]:
a=None

In [29]:
a

In [30]:
del a

In [31]:
a

NameError: name 'a' is not defined

In [25]:
b+"This is my value"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [341]:
# Show
print(b)
# "None"--->str
None

None

In [344]:
True

bool("False")

False

True