## What are anonymous functions in Python?

* In Python, __anonymous function__ is a function that is defined without a name.
* While normal functions are defined using the __def__ keyword, in Python anonymous functions are defined using the __lambda__ keyword
* Lambda functions are used along with built-in functions like <code>filter()</code>, <code>map()</code> etc

### Why would use this?

* We use lambda functions when we require a __nameless function__ for a short period of time.
* In Python, we generally use it as an argument to a higher-order function (a function that takes in other functions as arguments)

### How to use lambda Functions in Python?

* **lambda operator** or **lambda function** is used for creating small, one-time and anonymous function objects in Python.

Syntax

<code>**lambda** arguments: expression</code>

In [155]:
def square_root(x):
       return x**(1/2)

In [156]:
g= square_root

In [158]:
g(6)

2.449489742783178

In [150]:
f= lambda x:x**(0.5)

In [152]:
f(2)

1.4142135623730951

In [148]:
cube_root(3)

1.7320508075688772

### Prerquesites:

* lambda operator can have any number of arguments, but it can have only one expression
*  It cannot contain any statements and it returns a function object which can be assigned to any variable.

Lets slowly break down a lambda expression by deconstructing a function:

In [159]:
def square(num):
    result = num**2
    return result

In [166]:
my_variable = square

In [167]:
my_variable(2)

4

In [160]:
square(2)

4

In [161]:
def square(num):
    return num**2

In [162]:
square(2)

4

In [ ]:
We could actually even write this all on one line.

In [163]:
def square(num): return num**2

In [164]:
square(2)

4

Finally lambda expression

In [168]:
f= lambda num: num ** 2

In [169]:
f(2)

4

### Example of Lambda Function in python

In [1]:
## To add two numbers without Lambda

def add(x, y,z): 
    return x + y

add(2,3)

5

In [176]:
## To add two numbers with help of Lambda
f = lambda x,y:x+y

my_result = f(2,3)

print("my Result is:", my_result)

my Result is: 5

In __lambda x, y: x + y;__ x and y are arguments to the function and x + y is the expression which gets executed and its values is returned as output

__lambda x, y: x + y__ returns a function object which can be assigned to any variable, in this case function object is assigned to the `f` variable.

## Map:

In [70]:
list1 = [1,2,3,4,5,6]

list1= range(0,1000000)

In [71]:
%%time
result = []
for i in list1:
    result.append(i*i)

Wall time: 465 ms

In [211]:
def myOwnFunc(x):
    return x%2==0

In [213]:
list(filter(myOwnFunc,range(1000)))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [206]:
f=myOwnFunc

In [72]:
def square(x):
    return x*x

In [73]:
square

* The **map** function allows you to "map" a function to an iterable object. 
* That is to say you can quickly call the same function to every item in an iterable, such as a list

Syntax:

<code>map(function_object, iterable1, iterable2,...)</code>

In [180]:
%%time
list1 = [1,2,4,5]

a= list(map(lambda x:x*x,range(0,1000000)))

Wall time: 367 ms

* __map functions__ expects a function object and any number of iterables like list, dictionary, etc. It executes the function_object for each element in the sequence and returns a list of the elements modified by the function object

#### Example"

In [77]:
my_list = [1,2,3,5,6,7]

In [78]:
def square(x):
    return x*x

In [79]:
list(map(square,my_list))

[1, 4, 9, 25, 36, 49]

In the above example, map executes __square__ function for each element in the list

In [218]:
dict_a = [{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8},{'name': 'C', 'points': 8}]

In [219]:
lambda x:expresion

In [220]:
list(map(lambda x:x['name'], dict_a))

['python', 'java', 'C']

In [183]:
list1 = [3,4,5,6]
list2 = [5,6,7,8]

list(map(lambda x,y:x+y,list1,list2))

[8, 10, 12, 14]

In [184]:
list1 = range(0,1000)

In [185]:
list(filter(lambda i:i%2==0,list1))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [186]:
s= input("Enter Your string: ")

Enter Your string: This is my string

In [187]:
s

'This is my string'

In [188]:
lsit=[]
for word in s.split():
    if word[0] in ['a','e','i','o','u']:
        lsit.append(word)

In [189]:
lsit

['is']

In [80]:
a= {'name': 'python', 'points': 10}

In [81]:
a['name']

'python'

In [18]:
def get_name(x):
    return x['name']

def get_points(x):
    return x['points']

def get_and_multiply_points(x):
    return x['points']*1

In [82]:
list(map(get_name,dict_a))

['python', 'java']

In [83]:
list(map(get_point,dict_a))

[10, 8]

In [85]:
list(map(get_and_multiply_points,dict_a))

[100, 80]

In [88]:
# type(dict_a)
dict_a[1]

{'name': 'java', 'points': 8}

In [93]:
list1= [1,2,3,4]
list2 = [5,6,7,8]

In [92]:
list(range(len(list_a)))

[0, 1, 2]

In [95]:
final_list=[]
for i in range(len(list2)):
    final_list.append(list1[i]+list2[i])
final_list

[6, 8, 10, 12]

In [96]:
def adding(x,y):
    return x+y

In [97]:
list(map(adding,list1,list2))

[6, 8, 10, 12]

In [37]:
## Traditional way

def sum_two(x,y):
    return x+y

In [35]:
list_a = [1, 2, 3]

list_b = [10, 20, 30]

list(map(sum_two, list_a, list_b))

[11, 22, 33]

### Practise:

Input is list of words. Objective is to get the word name as it is if no. of words are odd otherwise it has give 'e'

Sample Input = ["python","is","a","famous","Language","now","a", "days"]

Expected_ Ouput = ["e","e","a","e","e","now","a","e"]

In [107]:
def odd_even(x):
    if len(x)%2==0:
        return 'e'
    else:
        return x
    
def get_even(x):
    return x%2==0

In [111]:
1==2

False

In [108]:
Sample_Input = list(range(0,1001))
Sample_Input[:5]

[0, 1, 2, 3, 4]

In [109]:
list(map(get_even,Sample_Input))

[0,
 None,
 2,
 None,
 4,
 None,
 6,
 None,
 8,
 None,
 10,
 None,
 12,
 None,
 14,
 None,
 16,
 None,
 18,
 None,
 20,
 None,
 22,
 None,
 24,
 None,
 26,
 None,
 28,
 None,
 30,
 None,
 32,
 None,
 34,
 None,
 36,
 None,
 38,
 None,
 40,
 None,
 42,
 None,
 44,
 None,
 46,
 None,
 48,
 None,
 50,
 None,
 52,
 None,
 54,
 None,
 56,
 None,
 58,
 None,
 60,
 None,
 62,
 None,
 64,
 None,
 66,
 None,
 68,
 None,
 70,
 None,
 72,
 None,
 74,
 None,
 76,
 None,
 78,
 None,
 80,
 None,
 82,
 None,
 84,
 None,
 86,
 None,
 88,
 None,
 90,
 None,
 92,
 None,
 94,
 None,
 96,
 None,
 98,
 None,
 100,
 None,
 102,
 None,
 104,
 None,
 106,
 None,
 108,
 None,
 110,
 None,
 112,
 None,
 114,
 None,
 116,
 None,
 118,
 None,
 120,
 None,
 122,
 None,
 124,
 None,
 126,
 None,
 128,
 None,
 130,
 None,
 132,
 None,
 134,
 None,
 136,
 None,
 138,
 None,
 140,
 None,
 142,
 None,
 144,
 None,
 146,
 None,
 148,
 None,
 150,
 None,
 152,
 None,
 154,
 None,
 156,
 None,
 158,
 None,
 160,
 None,
 162,
 None,
 164,
 None,
 166,
 None,
 168,
 None,
 170,
 None,
 172,
 None,
 174,
 None,
 176,
 None,
 178,
 None,
 180,
 None,
 182,
 None,
 184,
 None,
 186,
 None,
 188,
 None,
 190,
 None,
 192,
 None,
 194,
 None,
 196,
 None,
 198,
 None,
 200,
 None,
 202,
 None,
 204,
 None,
 206,
 None,
 208,
 None,
 210,
 None,
 212,
 None,
 214,
 None,
 216,
 None,
 218,
 None,
 220,
 None,
 222,
 None,
 224,
 None,
 226,
 None,
 228,
 None,
 230,
 None,
 232,
 None,
 234,
 None,
 236,
 None,
 238,
 None,
 240,
 None,
 242,
 None,
 244,
 None,
 246,
 None,
 248,
 None,
 250,
 None,
 252,
 None,
 254,
 None,
 256,
 None,
 258,
 None,
 260,
 None,
 262,
 None,
 264,
 None,
 266,
 None,
 268,
 None,
 270,
 None,
 272,
 None,
 274,
 None,
 276,
 None,
 278,
 None,
 280,
 None,
 282,
 None,
 284,
 None,
 286,
 None,
 288,
 None,
 290,
 None,
 292,
 None,
 294,
 None,
 296,
 None,
 298,
 None,
 300,
 None,
 302,
 None,
 304,
 None,
 306,
 None,
 308,
 None,
 310,
 None,
 312,
 None,
 314,
 None,
 316,
 None,
 318,
 None,
 320,
 None,
 322,
 None,
 324,
 None,
 326,
 None,
 328,
 None,
 330,
 None,
 332,
 None,
 334,
 None,
 336,
 None,
 338,
 None,
 340,
 None,
 342,
 None,
 344,
 None,
 346,
 None,
 348,
 None,
 350,
 None,
 352,
 None,
 354,
 None,
 356,
 None,
 358,
 None,
 360,
 None,
 362,
 None,
 364,
 None,
 366,
 None,
 368,
 None,
 370,
 None,
 372,
 None,
 374,
 None,
 376,
 None,
 378,
 None,
 380,
 None,
 382,
 None,
 384,
 None,
 386,
 None,
 388,
 None,
 390,
 None,
 392,
 None,
 394,
 None,
 396,
 None,
 398,
 None,
 400,
 None,
 402,
 None,
 404,
 None,
 406,
 None,
 408,
 None,
 410,
 None,
 412,
 None,
 414,
 None,
 416,
 None,
 418,
 None,
 420,
 None,
 422,
 None,
 424,
 None,
 426,
 None,
 428,
 None,
 430,
 None,
 432,
 None,
 434,
 None,
 436,
 None,
 438,
 None,
 440,
 None,
 442,
 None,
 444,
 None,
 446,
 None,
 448,
 None,
 450,
 None,
 452,
 None,
 454,
 None,
 456,
 None,
 458,
 None,
 460,
 None,
 462,
 None,
 464,
 None,
 466,
 None,
 468,
 None,
 470,
 None,
 472,
 None,
 474,
 None,
 476,
 None,
 478,
 None,
 480,
 None,
 482,
 None,
 484,
 None,
 486,
 None,
 488,
 None,
 490,
 None,
 492,
 None,
 494,
 None,
 496,
 None,
 498,
 None,
 500,
 None,
 502,
 None,
 504,
 None,
 506,
 None,
 508,
 None,
 510,
 None,
 512,
 None,
 514,
 None,
 516,
 None,
 518,
 None,
 520,
 None,
 522,
 None,
 524,
 None,
 526,
 None,
 528,
 None,
 530,
 None,
 532,
 None,
 534,
 None,
 536,
 None,
 538,
 None,
 540,
 None,
 542,
 None,
 544,
 None,
 546,
 None,
 548,
 None,
 550,
 None,
 552,
 None,
 554,
 None,
 556,
 None,
 558,
 None,
 560,
 None,
 562,
 None,
 564,
 None,
 566,
 None,
 568,
 None,
 570,
 None,
 572,
 None,
 574,
 None,
 576,
 None,
 578,
 None,
 580,
 None,
 582,
 None,
 584,
 None,
 586,
 None,
 588,
 None,
 590,
 None,
 592,
 None,
 594,
 None,
 596,
 None,
 598,
 None,
 600,
 None,
 602,
 None,
 604,
 None,
 606,
 None,
 608,
 None,
 610,
 None,
 612,
 None,
 614,
 None,
 616,
 None,
 618,
 None,
 620,
 None,
 622,
 None,
 624,
 None,
 626,
 None,
 628,
 None,
 630,
 None,
 632,
 None,
 634,
 None,
 636,
 None,
 638,
 None,
 640,
 None,
 642,
 None,
 644,
 None,
 646,
 None,
 648,
 None,
 650,
 None,
 652,
 None,
 654,
 None,
 656,
 None,
 658,
 None,
 660,
 None,
 662,
 None,
 664,
 None,
 666,
 None,
 668,
 None,
 670,
 None,
 672,
 None,
 674,
 None,
 676,
 None,
 678,
 None,
 680,
 None,
 682,
 None,
 684,
 None,
 686,
 None,
 688,
 None,
 690,
 None,
 692,
 None,
 694,
 None,
 696,
 None,
 698,
 None,
 700,
 None,
 702,
 None,
 704,
 None,
 706,
 None,
 708,
 None,
 710,
 None,
 712,
 None,
 714,
 None,
 716,
 None,
 718,
 None,
 720,
 None,
 722,
 None,
 724,
 None,
 726,
 None,
 728,
 None,
 730,
 None,
 732,
 None,
 734,
 None,
 736,
 None,
 738,
 None,
 740,
 None,
 742,
 None,
 744,
 None,
 746,
 None,
 748,
 None,
 750,
 None,
 752,
 None,
 754,
 None,
 756,
 None,
 758,
 None,
 760,
 None,
 762,
 None,
 764,
 None,
 766,
 None,
 768,
 None,
 770,
 None,
 772,
 None,
 774,
 None,
 776,
 None,
 778,
 None,
 780,
 None,
 782,
 None,
 784,
 None,
 786,
 None,
 788,
 None,
 790,
 None,
 792,
 None,
 794,
 None,
 796,
 None,
 798,
 None,
 800,
 None,
 802,
 None,
 804,
 None,
 806,
 None,
 808,
 None,
 810,
 None,
 812,
 None,
 814,
 None,
 816,
 None,
 818,
 None,
 820,
 None,
 822,
 None,
 824,
 None,
 826,
 None,
 828,
 None,
 830,
 None,
 832,
 None,
 834,
 None,
 836,
 None,
 838,
 None,
 840,
 None,
 842,
 None,
 844,
 None,
 846,
 None,
 848,
 None,
 850,
 None,
 852,
 None,
 854,
 None,
 856,
 None,
 858,
 None,
 860,
 None,
 862,
 None,
 864,
 None,
 866,
 None,
 868,
 None,
 870,
 None,
 872,
 None,
 874,
 None,
 876,
 None,
 878,
 None,
 880,
 None,
 882,
 None,
 884,
 None,
 886,
 None,
 888,
 None,
 890,
 None,
 892,
 None,
 894,
 None,
 896,
 None,
 898,
 None,
 900,
 None,
 902,
 None,
 904,
 None,
 906,
 None,
 908,
 None,
 910,
 None,
 912,
 None,
 914,
 None,
 916,
 None,
 918,
 None,
 920,
 None,
 922,
 None,
 924,
 None,
 926,
 None,
 928,
 None,
 930,
 None,
 932,
 None,
 934,
 None,
 936,
 None,
 938,
 None,
 940,
 None,
 942,
 None,
 944,
 None,
 946,
 None,
 948,
 None,
 950,
 None,
 952,
 None,
 954,
 None,
 956,
 None,
 958,
 None,
 960,
 None,
 962,
 None,
 964,
 None,
 966,
 None,
 968,
 None,
 970,
 None,
 972,
 None,
 974,
 None,
 976,
 None,
 978,
 None,
 980,
 None,
 982,
 None,
 984,
 None,
 986,
 None,
 988,
 None,
 990,
 None,
 992,
 None,
 994,
 None,
 996,
 None,
 998,
 None,
 ...]

## Filter:

* filter function expects two arguments, function_object and an iterable. 
* Assume if function_object returns a boolean value

* function_object is called for each element of the iterable and filter returns only those element for which the function_object returns true

* Like map function, filter function also returns a list of element. Unlike map function filter function can only have one iterable as input.

In [112]:
def get_even(x):
    return x%2==0

In [117]:
list(filter(get_even,list(range(0,1001))))[:10]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

#### Example 1

In [51]:
def check_even(x):
    return x%2==0

In [52]:
a = [1, 2, 3, 4, 5, 6]
filter(check_even, a)

##### Example 2

In [131]:
def is_python(x):
    return x['name']=="python"

In [134]:
dict1={'name': 'python', 'points': 10}
dict2 = {'name': 'java', 'points': 8}

dict_a = [dict1,dict2]

list((filter(is_python, dict_a)))

[{'name': 'python', 'points': 10}]

In [133]:
is_python(x={'name': 'java', 'points': 8})

False