## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:

In [ ]:
# Square:

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [92]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [93]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [94]:
s ='hello'
# Print out the 'o'
s[-1]
# Method 1:

'o'

In [95]:
# Method 2:

s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [80]:
# Method 1:
[0]*3

[0, 0, 0]

In [82]:
# Method 2:
list_new=[0,0,0]
list_new

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [97]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [100]:
list4 = [5,3,4,6,1]

a = list4.sort()# inplace operation
print(a)

None

In [106]:
list4 = [5,3,4,6,1]
a= list4.pop(3)
print(a)

6

In [99]:
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [107]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

In [111]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

d['k1'][0]['nest_key'][1][0]

#Grab hello

'hello'

In [118]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

## Tuples

What is the major difference between tuples and lists?<br><br>

Tuples are Immutable and list are mutable

How do you create a tuple?<br><br>

In [ ]:
t=()#st
t=tuple() #2nd
t=(1,2,3) #3rd

## Sets

What is unique about a set?<br><br>

set(): Remove Duplicates and returns the ordered all the unique elements

Use a set to find the unique values of the list below:

In [119]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]


set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [120]:
# Answer before running cell
2 > 3

False

In [121]:
# Answer before running cell
3 <= 2

False

In [122]:
# Answer before running cell
3 == 2.0

False

In [123]:
# Answer before running cell
3.0 == 3

True

In [124]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [126]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
# 3>=4

False

Write a Python program to count the number of characters (character frequency) in a string

In [132]:
my_string = "IlovePythonProgramming!"

In [133]:
len(my_string)

23

In [134]:
my_string.count("I")

1

In [135]:
for letters in set(my_string):
    print("{}:{}".format(letters,my_string.count(letters)))

t:1
a:1
n:2
y:1
!:1
l:1
v:1
r:2
o:3
e:1
P:2
g:2
I:1
i:1
m:2
h:1

Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string.

In [139]:
myString="MyfirstString"
# Output: Myng
myString[-2:]

'ng'

In [140]:
myString[:2]+myString[-2:]

'Myng'

Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.

In [152]:
my_string = "def abc"
# Output:"abf dec"

In [153]:
my_string.split()[1]

'abc'

In [154]:
a=my_string.split()[0]
b=my_string.split()[1]

In [155]:
 b[:2]+a[-1]+" "+a[:2]+b[-1]

'abf dec'

Write a Python program to remove the characters which have odd index values of a given string

In [156]:
my_string= "Python"

In [157]:
my_string[::2]

'Pto'

Write a Python program that accepts a comma separated sequence of words as input and prints the unique words in sorted form

In [56]:
my_seq=["second","third","first"]

In [58]:
list(set(my_seq))

['first', 'third', 'second']

Write a Python program to get the largest and smallest number from a list

In [158]:
my_list = [0,24,45,22,53,35]

In [159]:
min(my_list)

0

In [160]:
max(my_list)

53

Write a Python program to remove duplicates from a list

In [62]:
my_list=[1,2,3,4,1,2,5,6,2]

In [63]:
list(set(my_list))

[1, 2, 3, 4, 5, 6]

Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.

In [161]:
my_list = ["I","Love","Programming","to","do","so"]

In [162]:
my_list.pop(0)

'I'

In [164]:
my_list.pop(3) #2nd

'do'

In [70]:
for i in [0,3,3]:
    my_list.pop(i)

In [71]:
my_list

['Love', 'Programming', 'to']

Write a Python script to add a key to a dictionary
Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [73]:
Sample_Dictionary = {0: 10, 1: 20}
Sample_Dictionary[2]=30 # Sample_Dictionary.update({2:30})
Sample_Dictionary

{0: 10, 1: 20, 2: 30}

In [ ]:
Write a Python script to concatenate following dictionaries to create a new one
Sample Dictionary : 
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [1]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}

In [76]:
mew_dict={}
for item in [dic1,dic2,dic3]:
    mew_dict.update(item)

In [78]:
mew_dict

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
Write a Python program to find the given number count

In [165]:
t=(1,2,3,4,3,4,5)
t.count(3)

2